In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

- create_engine : it is used to make connnection from database
- column : it defines column in database
- Integer and string : datatypes and values in database

In [2]:
engine = create_engine('sqlite:///user.db')

In [3]:
Base = declarative_base()

In [4]:
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    password = Column(String)

In [5]:
Base.metadata.create_all(engine)

In [6]:
Session = sessionmaker(bind=engine)  #this line tells the session to use the engine we just created
session = Session()  #this line creates a session object

In [7]:
# add a new user to the database
new_user = User(name='John Doe', password='password123')
session.add(new_user)
session.commit()  #this line commits the changes to the database

In [8]:
# add a new user to the database
new_user = User(name='Smith', password='smith123')
session.add(new_user)
session.commit()  #this line commits the changes to the database

In [9]:
# read all users from the database
users = session.query(User).all()
for user in users:
    print(f'ID: {user.id}, Name: {user.name}, Password: {user.password}')

ID: 2, Name: John Smith, Password: password123
ID: 3, Name: John Smith, Password: password123
ID: 4, Name: John Smith, Password: password123
ID: 5, Name: John Smith, Password: password123
ID: 6, Name: Smith, Password: smith123
ID: 7, Name: John Doe, Password: password123
ID: 8, Name: Smith, Password: smith123
ID: 9, Name: John Doe, Password: password123
ID: 10, Name: Smith, Password: smith123

In [10]:
#update a user in the database
user = session.query(User).filter_by(name='John Doe').first() #first() returns the first result of the query
user.name = 'John Smith'  #update the name of the user
session.commit()

In [11]:
# read all users from the database
users = session.query(User).all()
for user in users:
    print(f'ID: {user.id}, Name: {user.name}, Password: {user.password}')

ID: 2, Name: John Smith, Password: password123
ID: 3, Name: John Smith, Password: password123
ID: 4, Name: John Smith, Password: password123
ID: 5, Name: John Smith, Password: password123
ID: 6, Name: Smith, Password: smith123
ID: 7, Name: John Smith, Password: password123
ID: 8, Name: Smith, Password: smith123
ID: 9, Name: John Doe, Password: password123
ID: 10, Name: Smith, Password: smith123

In [12]:
user = session.query(User).filter_by(id=1).first() #first() returns the first result of the query
session.delete(user)  #delete the user from the database
session.commit()  #this line commits the changes to the database

UnmappedInstanceError: Class 'builtins.NoneType' is not mapped

In [ ]:
user = session.query(User).all()
for user in users:
    print(f'ID: {user.id}, Name: {user.name}, Password: {user.password}')

ID: 1, Name: John Smith, Password: password123
ID: 2, Name: John Smith, Password: password123
ID: 3, Name: John Smith, Password: password123
ID: 4, Name: John Smith, Password: password123
ID: 5, Name: John Doe, Password: password123
ID: 6, Name: Smith, Password: smith123