- ways to declare dictionary
- to access key values in dictonary
- to add new pair inn dictionary
- loops in dictonary 
- nested dictionary

In [10]:
students = {'name' : 'Sachin Singh',
           'age' : 20,
           'class' :  'Python',
           'marks' : 90
           }
print(students)

{'name': 'Sachin Singh', 'age': 20, 'class': 'Python', 'marks': 90}

In [11]:
temp = {
    'lucknow' : [32,20,40],
    'delhi' : [45,35,29],
    'chennai' : [30,25,65]
}
print(temp)

{'lucknow': [32, 20, 40], 'delhi': [45, 35, 29], 'chennai': [30, 25, 65]}

dictionary  
typecasting

In [12]:
info = dict(name='Sachin singh', age=20, cource='python, marks=90')
print(info)

{'name': 'Sachin singh', 'age': 20, 'cource': 'python, marks=90'}

In [13]:
info = dict(name=input("Enter your name"), age=20, cource='python, marks=90')
print(info)

{'name': 'sachin', 'age': 20, 'cource': 'python, marks=90'}

In [14]:
#1st methods to access  value using its key
print(info['name'])

sachin

In [15]:
#2nd method to access the value using its key 
print(info.get('age'))

20

In [16]:
#to add new pair in the dictionary
students['city'] = 'Lucknow'
print(students)

{'name': 'Sachin Singh', 'age': 20, 'class': 'Python', 'marks': 90, 'city': 'Lucknow'}

In [17]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'age', 'class', 'marks', 'city'])
dict_values(['Sachin Singh', 20, 'Python', 90, 'Lucknow'])
dict_items([('name', 'Sachin Singh'), ('age', 20), ('class', 'Python'), ('marks', 90), ('city', 'Lucknow')])

In [18]:
for k in students:
    print(k)

name
age
class
marks
city

In [19]:
for k,v  in students.items():
    print(f'{k} : {v}')

name : Sachin Singh
age : 20
class : Python
marks : 90
city : Lucknow

In [20]:
# f string
a = 10
b = 20
c = a+b
print('Sum is:',sum)
print('sum of',a,'and',b,'is',c)
print(f'sum of {a} and {b} is {c}')

Sum is: <built-in function sum>
sum of 10 and 20 is 30
sum of 10 and 20 is 30

In [21]:
#nested dictionary
company = {
    'emp001': {
        'name':'Sachin',
        'salary': 25000,
        'city': 'Lucknow'
    },
    'emp002': {
        'name':'john',
        'salary': 53000,
        'city': 'delhi'
    },
    'emp003': {
        'name': 'jane',
        'salary': 30000,
        'city': 'Lucknow'
    }
}
print(company)

{'emp001': {'name': 'Sachin', 'salary': 25000, 'city': 'Lucknow'}, 'emp002': {'name': 'john', 'salary': 53000, 'city': 'delhi'}, 'emp003': {'name': 'jane', 'salary': 30000, 'city': 'Lucknow'}}

In [22]:
from pprint import pprint

In [23]:
pprint(company)

{'emp001': {'city': 'Lucknow', 'name': 'Sachin', 'salary': 25000},
 'emp002': {'city': 'delhi', 'name': 'john', 'salary': 53000},
 'emp003': {'city': 'Lucknow', 'name': 'jane', 'salary': 30000}}

In [24]:
print(company['emp002']['name'])

john

In [25]:
print(temp['lucknow'][1])

20

In [26]:
print('average temp in delhi:',sum(temp['delhi'])/len(temp['delhi']))

average temp in delhi: 36.333333333333336